body{
    background: rgb(7, 54, 0);
    font: normal 15pt Arial;
    color: black;
}
header{
    color: rgba(23, 255, 2, 0.575);
    text-align: center;
}
section{
    background: rgba(1, 151, 59, 0.226);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}